@model Umami.Models.ViewModels.CookingRecipeVM
@{
}
<div class="post-detail w-80 m-auto">
    <div class="img-container">
        <img alt="image" src="/Uploads/@Model.RecipeImage">
    </div>

    <div class="detail-container">
        <h3>@Model.Name</h3>
        <h3>@Model.Description</h3>
        @Html.Raw(Model.Instructions)
    </div>
</div>
<div class="w-80 m-auto">
    <a href="/Review/Add?recipeId=@Model.Id" class="btn btn-success">Finish Recipe</a>
</div>